@orange: orange;
@progress-wf-sidebar-width: 280px;

.sidenav-ol {
  &.sidenav-ol--ep {
    left: @progress-wf-sidebar-width;
    padding: 1.5rem;
  }
}
.add-btn {
  position: relative;
  width: 50px;
  height: 50px;
  padding: 0 !important;
  display: flex;

  border-radius: 50%;

  .icon {
    margin: 0 !important;
  }

  &:hover,
  &:active,
  &:focus {
  }
}
.soft-required .wrapper {
  > label[for]::after,
  .ui.label::after {
    position: absolute;
    top: 28%;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    background-color: @orange;
    border-radius: 50%;
    content: '';
  }
}
/* Flash class and keyframe animation */
.flash-effect {
  -webkit-animation: flash linear 1s 1s 1.5;
  animation: flash linear 1s 1s 1.5;
}
.title-editing-progress {
  font-size: 1.5rem !important;
  display: inline-block;
  .dropdown {
    font-size: 1.5rem !important;
  }
  .cancel {
    font-size: 1.5rem !important;
  }
}
@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}

.content-type-editor-sidebar {
  background: white;
}

.current-content-type {
  background-color: lightblue !important;
}

.message-input:disabled {
  background-color: #f3f4f5 !important;
}
